@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer {
  background-color: $light-navy;
  border-top: 1px solid $navy-border;
  padding: $spacing-lg $spacing-lg;
  text-align: center;
  @include glass-effect;
  font-weight: 400;
  font-size: 0.9rem;
}
