@use "./styles/partials/global.scss" as *;
@use "./styles/partials/fonts.scss" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/variables.scss" as *;

body {
  background-color: $dark-navy;
  color: $white; // i think maybe not needed
  height: 100vh;
}

.main {
  height: calc(100vh - 132px); // Exact height minus header/footer
  overflow-x: auto;
}
